* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1{
    text-align: center;
    color: chocolate;  
  }
  .container
  {
    display: flex;
    background-color: black;
    color: White;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width:550px
  
  }
  .img
  {
    border-radius: 25px;
    width: 150px;
  }
  .info {
    display: grid;
    padding: 25px;
    grid-auto-flow: column;
    gap: 15px;
  }
  .info1{
  padding-left: 0px;
  margin-left: 0px;
  }
  
  .text {
  
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  p{
    font-size: 15px;
    padding-left: 20px;
  
  }